.container {
  display: grid;
  grid-template: 100px 1fr 100px / 200px 1fr;
  /* background: gray; */
  height: 100vh;
  grid-gap: 5px;
  grid-template-areas: "header header"
                      "menu contenido"
                      "footer footer";
}
.item {
  border: 1px solid red;

}
.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
}
.contenido {
  grid-area: contenido;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 5px;
  padding: 5px 10px;
}
.it {
  border: 1px solid blue;
}
.footer {
  grid-area:footer;
}
